<div id="<%= dom_id transaction %>">
  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= transaction.memo %>
  </p>

  <p>
    <strong>Ref:</strong>
    <%= transaction.ref %>
  </p>

  <p>
    <strong>Total Debits:</strong>
    <div id="total-debits"><%= transaction.total_debits %></div>
  </p>

  <p>
    <strong>Total Credits:</strong>
    <div id="total-credits"><%= transaction.total_credits %></div>
  </p>
</div>
