<div id="<%= dom_id transaction_entry %>">
  <div>
    <strong>Entry Type:</strong> <%= transaction_entry.entry_type %>
  <br/>
  <strong>Account Name & id:</strong> <%= transaction_entry.account_name %> -  <%= transaction_entry.account_id %>
  </br>
  <strong>Amount: </strong><%= transaction_entry.amount %>
  </br>
  <strong>Memo:</strong><%= transaction_entry.memo  %>
  </br>
  </div>
</div>
<hr width="75%">
